.inner_search {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}

.first-color {
    -fx-background-color: white;
}
.second-color {
    -fx-background-color: #f2f3f5;
}
.third-color {
    -fx-background-color: #e3e5e8;
}
.list-result {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}
.definition {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}

.button-remove {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}


.button-edit {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}

.button-save {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}
.button-speak {
    -fx-background-image: url('../resources/Image/speak.png');
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}
.label-speak {
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-text-fill: #6025be;
    -fx-alignment: center;
}