.menu {
    -fx-background-color: #FF99FF;
}
.menu1 {
    -fx-background-color: #CC99FF;
}
.menu2 {
    -fx-background-color: #9999FF;
}
.menu3 {
    -fx-background-color: #6699FF;
}
.menu4 {
    -fx-background-color: #3399FF;
}
.menu5 {
    -fx-background-color: #0080FF;
}

.inner_pane {
    -fx-background-color: #43e287;


}
.most_inner_pane {
    -fx-background-color: #43e287;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
.search_button {
    -fx-background-color: #e28743;


}
.save_button {
    -fx-background-color: #e28743;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.history_button {
    -fx-background-color: #e28743;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.google_button {
    -fx-background-color: #e28743;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.setting_button {
    -fx-background-color: #e28743;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}

.search_page {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style: solid;
}
.inner_search {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #2596be;
}
.game_button {
           -fx-border-radius: 50%;
           -fx-background-color: green;
           -fx-height: 30px;
           -fx-width: 30px;
           -fx-border: black solid 2px;
           -fx-color: Black;
           -fx-font-weight: bolder;
           -fx-border-radius: 20px;
           -fx-background-radius: 20px;
}

}